DATABASE_NAME=easyshop
JWT_SECRET=d176d88250340bd581a362b8d77b5e1cc33151adadcbec89c3122fe392184c8f
PORT=6000
NODE_ENV=production
ALLOWED_ORIGINS=https://dev-easyshops.jayce-lab.works
PRODUCT_SERVICE_URL=http://product-service:5000
